@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

section > header{
	text-align: center;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	margin: 0 auto 3em auto;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

figure{
	page-break-before: always;
	page-break-after: always;
	page-break-inside: avoid;
	margin: 0;
	max-height: 100%;
	text-align: center;
}

figure img{
	max-width: 100%;
	margin: auto;
	display: block;
}

figcaption{
	font-style: italic;
	font-size: .75em;
}

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}
